@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



// Color Palette

$black: #000000;
$white: #ffffff;
$yellow-main: #e1f745;
$yellow-faded: #c1d338;
$ice-blue-contrast: #43b5a8;
$ice-blue-main: #cbe8ea;
$ice-blue-hover: #a2dcdf;
$red-main: #fa554f;
$purple-main: #9088f1;
$purple-light: #ada6f8;
$purple-dark: #766cdf;
$blue-main: #038ad8;
$orange-main: #f77e47;
$orange-dark: #cc5d2a;
$dark-main: #222222;
$dark-faded: #272727;
$dark-hover: #2c2c2c;
$dark-light: #313131;
$gray-main: #888888;
$gray-faded: #e0e0e0;
$gray-dark: #5f5f5f;
$gradient-blue: linear-gradient(90deg, #1B1F50, #3D47B6);



// Misc & Other

$border-rad-xxs: 0.25rem;
$border-rad-xs: 0.5rem;
$border-rad-sm: 1rem;
$border-rad-md: 1.5rem;
$border-rad-lg: 2rem;
$border-rad-xl: 3rem;
$border-rad-xxl: 4rem;



// Default Styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    color: $white;
}

body {
    // background-color: $dark-main;
    position: relative;
    background: #1D1E28;
    height: 100vh;
    overflow: hidden;
}

body::before {
    position: absolute;
    display: block;
    content: "";
    width: 30rem;
    aspect-ratio: 1;
    border-radius: 50%;
    bottom: 20%;
    left: 20%;
    background: #31345e;
    filter: blur(200px);
    z-index: -5;
    animation: backgroundMovement1 15s infinite alternate-reverse;
}

body::after {
    position: absolute;
    display: block;
    content: "";
    width: 30rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #7179D3;
    bottom: -50%;
    transform: translate(50%);
    right: 0;
    filter: blur(200px);
    animation: backgroundMovement2 10s infinite alternate-reverse;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    outline: none;
    cursor: pointer;
}

input {
    color: $white;

    &:focus {
        outline: none;
    }
}

textarea {
    &:focus {
        outline: none;
    }
}



// Mixins

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes backgroundMovement1 {
    0% {
        bottom: 20%;
        left: 20%;
    }

    100% {
        bottom: 40%;
        left: 40%;
    }
}


@keyframes backgroundMovement2 {
    0% {
        bottom: -50%;
        right: 0;
        transform: translate(50%);
    }

    100% {
        bottom: -40%;
        right: 20%;
        transform: translate(50%);
    }
}